In [31]:
import pandas as pd

movie_df = pd.read_csv('./naver_movie.csv')

In [32]:
movie_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   count   9 non-null      object
 1   score   9 non-null      float64
 2   title   9 non-null      object
dtypes: float64(1), object(2)
memory usage: 344.0+ bytes

In [33]:
movie_df = movie_df[['title','score','count']]
movie_df.head()

     title  score       count
0       반도   8.63    279,728명
1      소리꾼   8.69     77,542명
2   위대한 쇼맨   9.31  1,700,031명
3  소년시절의 너   9.63     23,443명
4     원 데이   8.88    218,733명

In [34]:
movie_df['count']=movie_df['count'].apply(lambda x: int(x.replace('명','').replace(',','')))

In [36]:
movie_df.sort_values('count', ascending=False)

             title  score    count
7            #살아있다   7.46  1818594
2           위대한 쇼맨   9.31  1700031
6    온워드: 단 하루의 기적   9.13   381049
0               반도   8.63   279728
4             원 데이   8.88   218733
8  밤쉘: 세상을 바꾼 폭탄선언   8.43   111645
1              소리꾼   8.69    77542
3          소년시절의 너   9.63    23443
5         엔딩스 비기닝스   8.90    13163