In [2]:
import pandas as pd

In [3]:
df = pd.DataFrame({"A":[1,2,3,4,5], "B":['가','나','다','라','마'],"C":['a','b','c','d','e']})
df

   A  B  C
0  1  가  a
1  2  나  b
2  3  다  c
3  4  라  d
4  5  마  e

In [7]:
df.to_html('test.html', encoding='utf-8', index=False)

In [18]:
#lxml 설치
# 페이지에 있는 table들을 데이터프레임으로 만들어 list 묶어 반환
a = pd.read_html("test.html", encoding='utf-8')
len(a)

1

In [19]:
a[0]

   A  B  C
0  1  가  a
1  2  나  b
2  3  다  c
3  4  라  d
4  5  마  e

In [15]:
a = pd.read_html('https://search.naver.com/search.naver?where=nexearch&sm=top_hty&fbm=1&ie=utf8&query=%ED%99%98%EC%9C%A8%EC%A1%B0%ED%9A%8C')

In [16]:
a[0]

    일   월   화   수   목   금   토
0 NaN NaN NaN NaN NaN NaN NaN

In [17]:
a[1]

          통화명    매매기준율         전일대비     등락률
0      미국 USD  1202.50   전일대비상승7.50  +0.63%
1  일본 JPY 100  1125.57  전일대비상승12.65  +1.14%
2    유럽연합 EUR  1356.90   전일대비상승3.32  +0.25%
3      중국 CNY   171.55   전일대비상승0.46  +0.27%
4      영국 GBP  1513.35   전일대비상승2.63  +0.17%
5      호주 AUD   835.44   전일대비상승1.33  +0.16%
6     캐나다 CAD   883.77   전일대비하락1.28  -0.14%
7    뉴질랜드 NZD   789.56   전일대비상승3.67  +0.47%

In [21]:
# pd.read_html('http://www.kbreport.com/leader/main') #ajax 라서 안됨